<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparacion de modelos</title>
    <link rel="icon" href="../assets/img/ennde3d_icon.png" type="image/png">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/splitViewer.css">
    <script defer src="/js/resizer.js"></script>
    <link rel="stylesheet" href="/styles/loader.css">
    <script defer type="module" src="/js/scene/db/model-upload.js"></script>
    <script defer type="module" src="/js/scene/splitViewerScene.js"></script>
    <script defer type="module" src="/js/ui/viewerMenus.js"></script>
    <script type="module" src="/js/loader.js" defer></script>
    <link rel="stylesheet" href="../styles/sidebar.css">



</head>
<body class="bg-black">
    <div id="loader-container">
       <div class="scene">
            <div class="cube-wrapper">
                <div class="cube">
                    <div class="cube-faces">
                        <div class="cube-face shadow"></div>
                        <div class="cube-face bottom"></div>
                        <div class="cube-face top"></div>
                        <div class="cube-face left"></div>
                        <div class="cube-face right"></div>
                        <div class="cube-face back"></div>
                        <div class="cube-face front"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="container">
        <input type="file" id="inputFile" style="display: none;">
        <div class="contenido row visible b ">
            <button id="back">
        <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15 18l-6-6 6-6"/></svg>
        </button>

        <script>
        // Detectar parámetro en la URL
        const params = new URLSearchParams(window.location.search);
        const from = params.get('from');


                    // Botón de volver atrás en el visor comparativo
            document.getElementById("back").addEventListener("click", () => {
                // Recuperamos el origen desde localStorage (puede ser 'viewer' o 'index')
                const from = localStorage.getItem("from");

                if (from === 'viewer') {
                    // Recuperamos el viewerId original guardado al venir desde viewer.html
                    const viewerId = localStorage.getItem("modeloOrigen");

                    if (viewerId) {
                        // Redirigimos de vuelta al visor individual con el modelo cargado
                        window.location.href = `/views/viewerNew.html?viewerId=${viewerId}`;
                    } else {
                        // Fallback: vuelve al visor sin identificador si no hay info
                        window.location.href = "/views/viewerNew.html";
                    }

                } else {
                    // Si no venías desde el visor, vuelve al index general
                    window.location.href = "/index.html";
                }
            });


        </script>

                
            <div class="d-flex flex-column flex-lg-row h-100">
                <div class="flex-grow-1 d-flex flex-column flex-lg-row flex-wrap">
                   <div class="c-viewer1 col-12 col-lg-6 p-1">
                        <div id="viewer1" class="viewer1 rounded-2 position-relative">
                            +
                            <input type="file" id="inputFile1" class="d-none"></div>
                        </div>

                        <div class="c-viewer2 col-12 col-lg-6 p-1">
                        <div id="viewer2" class="viewer2 rounded-2 position-relative">
                            +
                            <input type="file" id="inputFile2" class="d-none"></div>
                        </div>
                    </div>

                <aside id="sidebar" class="sidebar rounded-2 overflow-hidden">
                    <div id="toolbar" class=" text-white d-flex flex-lg-column flex-row gap-5 align-items-center justify-content-center">
                        <button id="btn-SwitchViewer" class="btnPrincipales">
                            <img class="options-sidebar area_swap" src="../assets/icons/area_swap.svg" alt="area_swap">
                        </button>
                        <button id="btn-world" class="btnPrincipales world">
                            <img class="options-sidebar world" src="../assets/icons/world.svg" alt="world">
                        </button>
                        <button class="material btnPrincipales" id="btn-axes">
                            <img class="options-sidebar monkey" src="../assets/icons/monkey.svg" alt="monkey">
                        </button>
                        <button class="magnet btnPrincipales" id="btn-material">
                            <img class="options-sidebar linked" src="../assets/icons/linked.svg" alt="link">
                        </button>
                        <button class="info btnPrincipales">
                            <img class="options-sidebar info" src="../assets/icons/info.svg" alt="info">
                        </button>
                    </div>
                    <div id="menuPanel" class="menu-panel overflow-hidden ">
                        <div id="menu-world" class="menu-content d-none h-100">Menú Mundo hola hola
                            
                        </div>
                        <div id="menu-modelo" class="menu-content d-none h-100">Menú Modelo</div>
                    </div>
                </aside>

            </div>
        </div>
    </div>

  
</body>


</html>