 body, html {
      margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100%;
    }
    #three-container {
      width: 100vw;
      height: 100vh;
      z-index: 0;
    }
    button{
      z-index: 2;
      position: fixed;
      top: 1.5em;
      left: 1em;
      background:none;
      border: none;
      width: 5em;
      transition: all .1s ease-in-out;
      svg{
        fill: rgba(0, 0, 0, 0.333);
      }
    }
    
    button:hover{
     cursor: pointer;
     transform:scale(1.1);
     transition: all .1s ease-in-out;
     svg{
      fill: white;
     }
    }

    #cameraPosition{
      color: white;
      
    }
    #bottomInfo{
      display: flex;
      justify-content: center;
      width: 15em;
      background-color: rgba(0, 0, 0, 0.305);
      position:absolute;
      bottom: 2em;
      left: 2em;
      border-radius: 15px;
    }